.modalVisibleContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	z-index: 999;
	transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
/* Close button styling */
.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: transparent;
	border: none;
	font-size: 2.5rem;
	cursor: pointer;
	color: #000;
}

/* Modal content when sliding in from the right */
.slideInFromRight {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	transform: translateX(0);
	opacity: 1;
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
