.container {
	background-color: #f7f8fd;
	width: 100%;
	border-radius: 12px;
	padding: 0 0 20px 0;
	height: 85vh;
	overflow: scroll;
}
.section {
	align-items: center;
	height: 60px;
	display: flex;
	padding-left: 20px;
	top: 0;
	position: sticky;
	z-index: 2;
	background-color: #2c5da7;
	justify-content: space-between;
	padding-right: 20px;
	color: #f5f5f5;
}
.filterContainer {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	position: absolute;
}

.filter {
	padding: 6px;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 14px;
	width: 140px;
}
