.profile-page-container {
	background-color: #f5f5f5;
	width: 100%;
	border-radius: 12px;
	padding: 0 0 20px 0;
	height: 85vh;
	overflow: scroll;
}
.profile-page-section {
	align-items: center;
	height: 60px;
	display: flex;
	padding-left: 20px;
	top: 0;
	position: sticky;
	z-index: 100;
	background-color: #ebebeb;
	justify-content: space-between;
	padding-right: 20px;
}
.profile-page-sub-section {
	margin-top: 20px;
}
.upper-profile-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
}
.profile-bio {
	margin-top: 20px;
	width: 480px;
	text-align: center;
	color: #666666;
	font-weight: 400;
}
.profile-update-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	flex-direction: column;
	margin-top: 40px;
}

.profile-page-picture {
	position: relative;
	display: inline-block;
}
.profile-page-picture-size {
	width: 140px;
	height: 140px;
	border-radius: 140px;
}
.camera-inline-with-profile {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #fff;
	padding: 10px;
	cursor: pointer;
}
.profile-logout-gradient-container {
	width: 80px;
	height: 40px;
	background: linear-gradient(to right, #f6ad3a, #ec9138);
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.profile-logout-gradient-container:hover {
	background: linear-gradient(to left, #f6ad3a, #ec9138);
}
.logout {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}
.profile-button-wrapper {
	display: flex;
	justify-content: center;
	width: 74%;
	margin: auto;
	margin-top: 20px;
}
.referral-container {
	margin-top: 20px;
	background-color: #fff;
	width: 72%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dotted gray;
	border-radius: 12px;
}
.referral-button-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.referral-input {
	outline: none;
	text-decoration: none;
	border: none; /* Remove default border */
	padding: 0; /* Remove default padding */
	margin: 0; /* Remove default margin */
	font-size: inherit; /* Inherit font size */
	font-family: inherit; /* Inherit font family */
	background: none; /* Remove default background */
	width: 220px;
	text-align: center;
}
.referral-input::placeholder {
	color: #b6b5b5;
}
.profile-hr {
	border: 0.001px solid #d9d9d9;
	margin: 30px 0 30px 0;
}
.referral-button-wrapper span {
	color: #b6b5b5;
}

@media screen and (max-width: 490px) {
	.profile-bio {
		width: 300px;
	}
}
@media screen and (max-width: 820px) {
	.profile-button-wrapper {
		width: 240px;
	}
}
